.btn {
    display: inline-block;
    padding: 20px;
    font-family: sans-serif;
    color: white;
}

div {
    margin-left: 30px;
    margin-top: 20px;
}

#b-animals {
    background: rgb(204, 20, 53);
}

#b-names {
    background: rgb(10, 155, 145);
}

#b-things {
    background: rgb(204, 20, 53);
}

#b-movies {
    background: rgb(10, 155, 145);
}

.hide {
    display: none;
}

.show {
    display: block;
}